@import './mixins.scss';

@media only screen and (max-width: 768px) {
  .section-area {
    display: none!important;
  }
}

.section-area {
  position: fixed;
  display: block;
  width: 5%;
  height: 100%;
  @include flex(column, center, center);
  background-color: #111111;
  z-index: 0;

  .section-name {
    color: #fff;
    width: 1px;
    margin-right: 5px;
    font-size: 1.4em;
    font-family: monospace;
    word-wrap: break-word; 
    font-weight: 100;
  }
  
  .section-bar {
    position: absolute;
    height: 40%;
    width: 1px;
    bottom: 0;
  }
}
